body {
  font-family: Montserrat, sans-serif;
  background-color: $bg;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  padding: 0 20px;
}

.btn {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 10px;

  text-align: center;
  color: $white;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  &_menu {
    display: none;
  }

  &_green {
    padding: 24.5px 0;
    width: 326px;

    background-color: $green;
    font-size: 18px;

    &:hover {
      background: $hover
    }
  }

  &_blue {
    padding: 29px 0;
    background: $blue-gradient;

    font-size: 20px;

    &:hover {
      background: $hover
    }
  }

  &_sign-up {
    width: 150px;
    padding: 17.5px 0;

    font-weight: 500;
  }

  &_sign-in_modal {
    width: 100%;
    font-weight: 500;
  }

  &_join {
    width: 220px;
  }

  &_get-consult {
    width: 342px;
  }

  &_market {
    padding: 24px 0;
    width: 252px;
  }

  &_get-program {
    margin-top: 25px;

    padding: 24px 0;
    width: 377px;
  }

  &_left {
    margin-top: 25px;

    width: 100%;
  }

  &_become-a-partner {
    padding: 24px 0;
    width: 317px;
  }

  &_submit {
    width: 246px;

    display: block;
    margin-right: auto;
  }
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.heading {
  color: $blue;
  font-size: 36px;
  line-height: 80px;
  font-weight: 700;
}

.card-template {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);

  text-align: center;
}

.nav {
  ul {
    display: flex;
    list-style-type: none;
  }

  &__item {
    font-size: 18px;
    font-weight: 500;

    &:nth-of-type(n+2) {
      margin-left: 52px;
    }
  }
}

.main-screen {
  padding: 33px 0 300px;

  background: linear-gradient(rgba(0, 0, 0, 0.6)), url(../img/bg1.png) center / cover no-repeat;

  color: $white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 160px;

    .logo {
      font-weight: 700;
      font-size: 24px;

      &_blue {
        color: $logo;
      }
    }
  }

  &__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 101;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.6);

    &_open {
      display: block;
      animation: open .3s;
      animation-iteration-count: 1;
    }
  }

  .modal {
    box-sizing: border-box;
    padding: 50px 30px;
    width: 30%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    &__header {
      font-size: 20px;
      font-weight: 600;
      color: $black;

      margin-bottom: 30px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        margin-bottom: 10px;

        box-sizing: border-box;
        padding: 12px 20px;
        width: 100%;

        outline: none;
        border: none;

        background-color: #F1F1F1;
        border-radius: 5px;

        color: #707070;
        font-size: 14px;
      }
    }

    &__sign-up {
      margin-top: 15px;
      color: $green;
      text-decoration: underline;
      font-size: 16px;
    }

    &_close {
      position: fixed;
      top: -30px;
      right: 0;

      color: $white;
      font-size: 50px;
      line-height: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-text {
    max-width: 770px;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 700;
    line-height: 60px;

    &_green {
      background-color: $green;
      border-color: $green;
      border-style: solid;
      border-width: 3px 20px 3px 11px;
      border-radius: 3px;

      margin-left: -11px;

    }
  }

  &__subheading {
    margin-top: 12px;
    margin-bottom: 34px;

    font-size: 34px;
    font-weight: 400;
  }

  &__accelerator {
    display: none;
  }
}

.offers {
  padding: 90px 0 55px;

  &__heading {
    margin-bottom: 110px;
  }

  &-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
      width: 495px;

      img {
        width: 100%;
      }
    }

    &__heading {
      margin-bottom: 20px;

      color: $blue;
      font-family: Inter;
      font-weight: 600;
      font-size: 24px;
    }

    &__text {
      margin-bottom: 20px;

      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .research {
    flex-direction: row-reverse;
    margin-bottom: 190px;

    &-info {
      max-width: 674px;
    }
  }

  .accelerator {
    &-info {
      max-width: 604px;
    }
  }
}

.who-needs {
  padding: 50px 0 100px;

  &__heading {
    margin-bottom: 35px;
  }

  .cards {
    display: flex;
    gap: 20px;
    justify-content: center;

    flex-wrap: wrap;

    .card {
      flex: 0 1 392px;

      box-sizing: border-box;

      padding: 50px 30px 35px;


      &__number {
        margin-bottom: 20px;

        color: $blue_transparent;
        font-weight: 800;
        font-size: 80px;
      }

      &__title {
        margin-bottom: 15px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }

      &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

.promo {
  padding: 135px 0 172px;

  background: linear-gradient(rgba(0, 0, 0, 0.55)), url(../img/bg2.png) center / cover no-repeat;

  color: $white;
  text-align: center;


  &__main-text {
    font-size: 37px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;

    margin-bottom: 10px;

    &_green {
      background-color: $green;
      border-radius: 3px;
    }
  }

  &__text {
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
  }
}

.market {
  padding: 100px 0 50px;

  &__heading {
    margin-bottom: 40px;
  }

  .regions {
    margin-bottom: 56px;

    display: flex;
    background-color: #EEF1F4;
    border-radius: 5px;


    .region {
      flex: 1;

      padding: 5px;

      color: #484848;
      font-size: 20px;
      line-height: 60px;
      text-align: center;

      &:nth-of-type(n+2) {
        border-left: 1px solid #CFDDEB;
      }

      &.region_active {
        font-weight: 700;
        color: $white;

        background-color: $light-blue;
        border-radius: 5px;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-areas:
      "a b c"
      "a d e"
    ;
    grid-template-columns: 0.75fr repeat(2, 289px);
    gap: 20px;

    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-position: left top;
  }

  &-text {
    grid-area: a;

    max-width: 300px;
  }

  &__subheading {
    margin-bottom: 30px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;

    span {
      color: $green;
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 35px;

    width: 90%;

    font-size: 16px;
    line-height: 21.5px;
  }

  &-profile {
    margin-top: 45px;

    display: flex;
    align-items: center;

    font-size: 14px;
    color: #727272;

    &__img {
      margin-right: 10px;
      width: 62px;

      img {
        width: 100%;
      }
    }

    .name {
      margin-bottom: 5px;

      font-weight: 500;
      font-size: 16px;
      color: $black;
    }

  }

  .card {
    box-sizing: border-box;
    padding: 46px 0 65px;

    &__num {
      margin-bottom: 10px;

      color: $blue_transparent;
      font-weight: 800;
      font-size: 48px;
    }

    &__caption {

      color: rgba(16, 16, 16, 0.5);
      font-size: 16px;
      line-height: 20px;
    }

    &_first {
      grid-area: b;

      p:first-child:after {
        content: 'Млрд';
        font-size: 24px;
        line-height: 48px;
        margin-left: 10px;
      }
    }

    &_second {
      grid-area: c;
    }

    &_third {
      grid-area: d;
    }

    &_fourth {
      grid-area: e;

      background-color: $blue;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 60px 45px;

      .card__caption {
        margin-top: 10px;

        color: $white;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
      }

      &:hover {
        background-color: $green;
      }

      svg {
        fill: $white;

        width: 48px;
        height: 42px;
      }
    }
  }
}

.about {
  padding: 50px 0;

  &__heading {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }

  &-cards {
    margin-bottom: 20px;

    display: flex;
    gap: 10px 20px;
    justify-content: center;

    flex-wrap: wrap;

    height: 284px;
  }

  &__card {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';

    .num {
      display: block;
      content: '3';

      font-weight: 800;
      font-size: 120px;

      color: transparent;
      background-clip: text;
      background-image: $green-blue;
    }

    .earth {
      display: block;
      margin-bottom: 30px;
    }

    .time {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__caption {
    color: #232323;
    font-weight: 500;
    font-size: 20px;
  }

  &__video {
    width: 100%;
    position: relative;

    video {
      width: 100%;
      border-radius: 10px;
    }

    .overlay {
      position: absolute;
      background: #0F0F0F;
      border-radius: 10px;

      font-weight: 600;
      font-size: 20px;
      color: $white;

      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      p {
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translate(-50%, 0)
      }
    }

    .btn_play {
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border: none;
      outline: none;
      background-color: #4C8EF0;
      border-radius: 50%;

      width: 114px;
      height: 114px;


      svg {
        margin-left: 7px;
        margin-top: 5px;
        width: 38px;
        height: 41px;
      }
    }
  }
}

.programs {
  padding: 50px 0 105px;

  &__heading {
    margin-bottom: 20px;
  }

  .module {
    text-align: left;

    &-summary {
      padding: 13px 50px;

      display: flex;
      align-items: center;

      list-style-type: none;

      &::-webkit-details-marker {
        display: none;
      }
    }

    &__name {
      font-size: 20px;
      line-height: 60px;
      font-weight: 500;
    }

    &__num {
      font-weight: 700;
      color: $dark-blue;

      margin-right: 15px;
    }

    &__length {
      display: none;

      font-size: 16px;
      line-height: 60px;
    }

    .btn-svg {
      padding: 10px 12px;
      border-radius: 50%;

      background-color: $dark-blue;

      transform: rotate(0deg);
      transition: all .4s;

      margin-left: auto;

      &_open {
        transform: rotate(180deg);
        transition: all .4s;
      }

      svg {
        fill: $white;
        width: 16px;
        height: 9px;
      }
    }

    &__text {
      padding: 5px 50px;
      border-top: 1px solid #E9E9E9;

      line-height: 60px;
      font-size: 16px;
      color: $dark-gray;

      &:last-of-type {
        color: $dark-blue;
      }
    }

    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }
}

.companies {
  padding: 60px 0;
  overflow: hidden;

  background-image: url(../img/a3b11a21248663.png), $bg-gradient;
  background-repeat: repeat, no-repeat;

  color: $white;

  .wrapper {
    position: relative;
    display: grid;

    grid-template-areas:
      "a b c"
      "a d e"
      "a f g";

    gap: 20px;

    grid-template-columns: 1fr repeat(2, 206px);
    grid-template-rows: repeat(3, 112px);

    &::before {
      position: absolute;
      z-index: 1;
      top: 34px;
      right: -107px;

      content: '';

      width: 368px;
      height: 232px;

      background: url(../img/bgEllipses.png)
    }
  }

  &-text {
    grid-area: a;
    align-self: center;

    max-width: 556px;
  }

  &__heading {
    margin-bottom: 20px;

    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
  }

  &__caption {
    margin-bottom: 20px;

    line-height: 30px;
    font-size: 18px;
  }

  &__card {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.result {
  padding: 100px 0 50px;

  &__heading {
    margin-bottom: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 280px);
    gap: 20px;
  }

  &__card {
    box-sizing: border-box;
    padding: 20px 51px 0;
  }

  .card {
    &__num {
      font-size: 80px;
      font-weight: 800;
      color: $blue_transparent;
    }

    &__title {
      margin-bottom: 10px;

      font-weight: 600;
      line-height: 30px;
      font-size: 16px;
    }

    &__text {
      font-weight: 300;
      line-height: 20px;
      font-size: 15px;
    }
  }
}

.price {
  padding: 50px 0 50px;

  &__heading {
    margin-bottom: 35px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    flex-wrap: wrap;
  }

  &__card {
    padding: 35px 0;

    flex: 1;
  }

  .card {
    display: flex;
    flex-direction: column;

    &_pad {
      padding: 0 40px;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;

      padding-bottom: 28px;
      border-bottom: 1px solid $gray;
    }

    .adobe {
      &::before {
        display: block;
        content: url(../icons/adobe.svg);
        margin-bottom: 15px;
      }
    }

    .gears {
      &::before {
        display: block;
        content: url(../icons/gears.svg);
        margin-bottom: 15px;
      }
    }

    .rocket {
      &::before {
        display: block;
        content: url(../icons/rocket.svg);
        margin-bottom: 15px;
      }
    }

    &__caption {
      font-weight: 500;
      font-size: 18px;
      line-height: 60px;

      text-align: left;
    }

    &-list {
      margin-bottom: auto;

      list-style-position: inside;
      text-align: left;

      font-size: 16px;
      line-height: 35px;
    }

    &__props {

      display: flex;
      justify-content: space-between;

      font-weight: 500;
      font-size: 18px;
      line-height: 60px;

      border-top: 1px solid $gray;

      &:first-of-type {
        margin-top: 46px;
      }

      &_price {
        color: $blue;
        font-weight: 700;
      }


    }
  }
}

.us {
  padding: 50px 0 50px;

  &-container {
    overflow: hidden;
  }

  &__heading {
    margin-bottom: 35px;
  }

  &__wrapper {
    margin-bottom: 125px;

    display: flex;
    justify-content: space-between;

    align-items: center;
  }

  &-txt {
    max-width: 565px;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    p {
      .blue {
        font-weight: 600;
        color: $blue;
      }

      &:last-of-type {
        margin-top: 30px;
      }
    }
  }

  .card {
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;

    &__img {
      img {
        height: 100%;
      }
    }

    &-text {
      padding: 43px;
      display: flex;
      flex-direction: column;

      max-width: 698px;
      text-align: left;

      p {
        &:last-child {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }

    &__story {
      margin-bottom: auto;

      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    &__name {
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.experts {
  padding: 50px 0 50px;

  .container {
    position: relative;
  }

  &__heading {
    margin-bottom: 25px;
  }

  .slider {
    margin: 0 auto;
    width: 1010px;
    overflow: hidden;

  }

  &-wrapper {
    list-style-type: none;
    width: 300%;

    display: flex;
    justify-content: start;
    gap: 30px;

    transition: margin-left .4s;
  }

  &-card {
    text-align: center;
    width: 230px;

    &__img {
      margin: 0 auto 20px;
      width: 186px;


      img {
        width: 100%;
      }
    }

    &__name {
      margin-bottom: 10px;

      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
    }

    &__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .prev,
  .next {
    position: absolute;

    top: 50%;
    transform: translate(0, -50%);


    width: 39px;
    height: 39px;

    background-color: $dark-blue;
    border-radius: 50%;

    font-size: 20px;
    line-height: 39px;
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }
}

.partners {
  padding: 50px 0 100px;

  &__heading {
    margin-bottom: 20px;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.create {
  padding: 130px 0;

  background: linear-gradient(rgba(0, 0, 0, 0.65)), url(../img/bg4.png) center / cover no-repeat;

  color: $white;
  text-align: center;

  &__heading {
    margin: 0 auto 20px;


    width: 90%;

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }

  &__subheading {
    margin: 0 auto 25px;

    width: 70%;

    font-size: 20px;
    line-height: 30px;
  }
}

.events {
  padding: 100px 0;

  &__heading {
    margin-bottom: 35px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &-card {
    flex: 1;

    text-align: left;
  }

  .card {
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &-text {
      flex-grow: 1;
      padding: 20px 30px 25px;

      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 10px;

      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }

    &__caption {
      margin-bottom: auto;
      width: 90%;

      font-size: 16px;
      line-height: 25px;
    }

    &__date {
      margin-top: 35px;

      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.questions {
  margin-bottom: 20px;
  padding: 75px 0;

  color: $white;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 7px;

    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
  }

  &__subheading {
    margin-bottom: auto;

    font-size: 18px;
    line-height: 40px;
  }

  &__text {
    margin-bottom: 7px;

    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
  }

  &__socials {
    position: relative;
    display: inline-block;

    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
  }

  .tg {
    margin-left: 68px;
    margin-right: 125px;

    &::before {
      position: absolute;

      top: 50%;
      transform: translate(0, -50%);
      left: -68px;

      display: inline-block;
      content: '';
      width: 53px;
      height: 53px;

      background: url(../icons/tg.png) no-repeat center/35px 35px, $white;
      border-radius: 50%;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

      margin-right: 15px;
    }
  }

  .wa {
    &::before {
      position: absolute;

      top: 50%;
      transform: translate(0, -50%);
      left: -68px;

      display: inline-block;
      content: '';
      width: 53px;
      height: 53px;

      background: url(../icons/wa.png) no-repeat center/32px 32px, $white;
      border-radius: 50%;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

      margin-right: 15px;
    }
  }

  &-form {
    width: 600px;
    height: 340px;
    box-sizing: border-box;

    padding: 25px 42px 30px;

    input {
      display: block;
      width: 100%;

      outline: none;
      border: none;
      border-bottom: 1px solid #E4E4E4;

      font-weight: 400;
      font-size: 16px;
      line-height: 60px;
      color: #707070;

      &:last-of-type {
        margin-bottom: 35px;
      }
    }
  }
}

.footer {
  padding: 24px 0;

  background: linear-gradient(rgba(0, 0, 0, 0.78)), url(../img/bg5.png) center / cover no-repeat;

  color: $white;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    padding: 10px 0;
    font-weight: 700;
    font-size: 24px;

    &_blue {
      color: $logo;
    }

    p {
      margin-top: 10px;
      font-weight: 300;
      font-size: 14px;
    }
  }

  .copyright {
    max-width: 212px;
    font-size: 14px;
    line-height: 20px;

    a {
      line-height: 60px;
    }
  }


}