$white: #ffffff;
$black: #000000;
$green: #07AF91;
$blue: #1178B2;
$blue_transparent: rgba(17, 120, 178, 0.5);
$blue-gradient: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
$bg-gradient: linear-gradient(138.28deg, #1973FA -12.19%, #75ACFD 92.47%);
$green-blue: linear-gradient(143.71deg, #8BD7DC 40%, #1246A9 80%);
$light-blue: #88BBD8;
$dark-blue: #2A79C2;
$black: #000000;
$gray: #E3E3E3;
$hover: #016CA8;
$logo: #00B1E9;
$bg: #fefefe;
$dark-gray: #555555;